extends layout
block scripts
	link(rel="stylesheet", href="/css/albumviewer.css")
block content
	div.container(style="min-height:800px;")
		div.row
			div.col-md-1
			div.col-md-10
				div.row
					div.col-12
						h2 Album
						p &nbsp;Time: #{"unknown"}&nbsp;&nbsp;&nbsp;
						p &nbsp;Description: #{"unknown"}&nbsp;&nbsp;&nbsp;
				div.row
					div.col-md-3
						img.img-responsive.img-thumbnail(src="http://36.media.tumblr.com/158c120500b51cb2fa61011165afb1b0/tumblr_n9m6afRrd61s662lpo1_1280.jpg")
					div.col-md-3
						img.img-responsive.img-thumbnail(src="http://fc09.deviantart.net/fs70/i/2014/297/9/0/dark_souls___iron_fall_by_keilink-d83yhxo.png")
					div.col-md-3
						img.img-responsive.img-thumbnail(src="http://40.media.tumblr.com/098114dddaf7a808d6e5f7d0b97116e9/tumblr_n1x9mfEF3U1s662lpo1_1280.jpg")
					div.col-md-3
						img.img-responsive.img-thumbnail(src="http://36.media.tumblr.com/3a60d35b0edf1c87890d0122c4065276/tumblr_n6ro0aGIcX1s662lpo1_r1_1280.jpg")
			div.col-md-1
