extends layout
block scripts
	script(src="/js/index.js")

block content
	div.container(style="padding-top:20px;")
		div.row
			div.col-md-2
				div.row
					div.col-md-12
						img.img-responsive(src="#{user.avatar}?s=256")
				div.row
					div.col-md-12
						h3 #{user.fullname}
				div.row
					div.col-md-12
						div.list-group
							a.filters-list-item.list-group-item.active(id="filter-newsfeed",href="#") News Feed
							a.filters-list-item.list-group-item(id="filter-trip",href="#") Trips
							a.filters-list-item.list-group-item(id="filter-photo",href="#") Photos
							a.filters-list-item.list-group-item(id="filter-album",href="#") Albums
			div.col-md-7
				div.row
					div.col-md-12
						- if(success === '1') {
							div.alert.alert-success
								strong Success
								p Upload successful!
						- } else if (error === '1') {
							div.alert.alert-danger
								strong Error
								p Failed to upload file
						- } else if (error === '2') {
							div.alert.alert-danger
								strong Error
								p Upload check failed. File may not have been successfully uploaded
						- }
						form(id="new-post" action="/media/post", method="POST", enctype="multipart/form-data")
							input(name="type", id="post-type", value="photo", type="hidden")
							input(name="privacy", id="post-privacy", value="0", type="hidden")
							div.form-group
								input.form-control(type="file", name="upload", id="upload", style="display:none;")
								input.form-control(name="url",placeholder="http://", id="url")
							div.form-group
								textarea.form-control(name="description" placeholder="Write Description", style="resize: none;height:80px;")
							div.form-group
									div.btn-group.pull-right
										div.btn-group
											button.btn.btn-default.dropdown-toggle(id="btn-privacy",data-toggle="dropdown")
												span.glyphicon.glyphicon-eye-open
												| &nbsp;Public
												span.caret
											ul.dropdown-menu
												li.active
													a(href="#",id="privacy-public")
														span.glyphicon.glyphicon-eye-open
														| &nbsp;Public
												li
													a(href="#",id="privacy-private")
														span.glyphicon.glyphicon-eye-close
														| &nbsp;Restricted
										button.btn.btn-primary(id="post-btn") Post
									div.btn-group.pull-right(style="margin-right:15px;")
										a(href="#", id="post-type-link").btn.btn-info.ptype
											span &nbsp;
											span.glyphicon.glyphicon-link
											span &nbsp;
										a(href="#", id="post-type-image").btn.btn-default.ptype
											span &nbsp;
											span.glyphicon.glyphicon-camera
											span &nbsp;
										a(href="#", id="post-type-video").btn.btn-default.ptype
											span &nbsp;
											span.glyphicon.glyphicon-film
											span &nbsp;
									div.pull-right(style="margin-right:15px;")
										select.form-control(name="album",id="album-picker",style="display:none;")
											option(value="-1") None
											- if(albums && albums.length > 0) {
												- for(var i = 0; i < albums.length; i++){
													option(value="#{albums[i].id}") #{albums[i].title}
												- }
											- }
						div.alert.alert-danger.pull-right(id="alert-post", style="margin:0 10px 0 0; padding:6px 12px; display:none;") --
				div.row
					div.col-md-12(id="feed-stream")
			div.col-md-3
				div.row
					div.col-md-12
						h3 New
						a.btn.btn-success(href="/trip/create") Create Trip!
						span &nbsp;
						a.btn.btn-success(href="/album/create") Create Album!
				div.row
					div.col-md-12
						h3 Manage
						div.list-group#owntrips
				div.row
					div.col-md-12
						h3 Participating In
						div.list-group#membertrips
				div.row
					div.col-md-12
						h3 Recommended Friends
						div#recommend-friends
				div.row
					div.col-md-12
						h3 Recommended Trips
						div#recommend-trips

