html(lang="en")
	head
		block head
			block title
				title Tripster
			block meta
				meta(charset='utf-8')
				meta(name='viewport' content='width=device-width, initial-scale=1.0')
				meta(http-equiv="X-UA-Compatible", content="IE=edge")
				meta(name='description', content='Tripster for CIS450/550')
				meta(name='keywords', content='')
			link(rel='stylesheet', href='/css/bootstrap.css')
			link(rel='stylesheet', href='/css/style.css')
			block scripts
			block globalscripts
	body
		include header-login

		block content

		include footer
		
		script(src='/js/jquery.js')
		script(src='/js/jquery.bootstrap.js')
		script(src='/js/jquery.bootstrap.typeahead.js')
		
		block footscripts
