extends layout-login
block scripts
	script(src="/js/login.js")
block content
	div.container
		div.row(style="padding-top:50px")
			div.col-md-4
			div.col-md-4
				div.status.panel.panel-default
					div.panel-heading Log In
					div.panel-body
						- if(error === "2") {
							div.alert.alert-danger
								strong Error
								p Username or password incorrect
						- } else if(error  === "1"){
							div.alert.alert-danger
								Strong Oops!
								p You forgot to fill in a field
						- }
						- if(referer === "logout") {
							div.alert.alert-info
								strong Logged Out
								p You have successfully logged out.
						- }
						form.form-group(action="", method="post", id="loginform")
							label(for="username") Username
							input.form-control(name="username", id="username", type="text", placeholder="Username")
							label(for"password") Password
							input.form-control(name="password", id="password", type="password")
							div.checkbox
								label
									input(id="remember", name="remember", type="checkbox", checked="true")
									| Remember Me
							button(type="submit", id="login").btn.btn-primary.btn-block Login
							br
							label(for="register") Don't have an account yet?
							a(id="register",href="/register").btn.btn-success.btn-block Register
			div.col-md-4

