extends layout
block scripts
	script(src="/js/tripcreate.js")

block content
	div.container
		div.row
			div.col-md-2
			div.col-md-6
				h1 Create Trip
				- if(error === "1") {
					div.alert.alert-danger
						strong Error
						p Please fill in all fields
				- } else if(error  === "2"){
					div.alert.alert-danger
						strong Oops!
						p Something weird went wrong. Try again later!
				- } else if(error === "3"){
					div.alert.alert-danger
						strong Date format incorrect
						p Date format is incorrect! Please use the date picker to select a proper start and end date.
				- }
				form.form-group(action="", method="POST")
					div.form-group
						label(for="title") Trip Title
							sup *
						input.form-control(name="title", id="title", type="text", placeholder="Grand Canyon With Bros")
					div.form-group
						label(for="startdate") Start Date
							sup *
						input.form-control(name="startdate", id="startdate", type="text", placeholder="Start Date (YYYY-mm-dd)")
					div.form-group
						label(for="enddate") End Date
							sup *
						input.form-control(name="enddate", id="enddate", type="text", placeholder="End Date (YYYY-mm-dd)")
					div.form-group
						label(for"description") Description
						input.form-control(name="description", id="description", type="text", placeholder="Get ready for the trip folks!")
					div.form-group
						label(for="privacy") Privacy
						select.form-control(name="privacy", id="privacy")
							option(value="0") Public
							option(value="1") Private
					div.form-group
						button(id="createtrip", type="submit").btn.btn-primary.btn-block Create Trip
			div.col-md-4
